<br />

<h1>資料管理後台</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/admin/cramschool">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/courses">課程列表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/teachers">教師列表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/students">學生列表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/extrafees">額外費用列表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">使用者管理</a>
  </li>
</ul>

<div class="card mt-2">
  <div class="card-body">
    <h5><strong>後台課程功能</strong></h5>
    <ul style="color: rgb(143, 143, 138)" class="list-group list-group-flush">
      <li class="list-group-item">可以瀏覽所有課程的資訊</li>
      <li class="list-group-item">可以新增、修改和刪除課程</li>
      <li class="list-group-item">可以瀏覽所有課程行事曆</li>
      <li class="list-group-item">可以新增下一期課程行事曆</li>
      <li class="list-group-item">可以刪除尚未進行的新一期課程行事曆</li>
      <li class="list-group-item">可以修改個別課程行事曆內容</li>
      <li class="list-group-item">如果該課程行事曆確認結束後，可將其關閉</li>
    </ul>
  </div>
  <div class="card-body">
    <h5><strong>後台教師功能</strong></h5>
    <ul style="color: rgb(143, 143, 138)" class="list-group list-group-flush">
      <li class="list-group-item">可以瀏覽所有教師資訊</li>
      <li class="list-group-item">可以修改個別教師資訊</li>
      <li class="list-group-item">如果該教師離職、留職停薪，可切換其狀態</li>
    </ul>
  </div>
  <div class="card-body">
    <h5><strong>後台學生功能</strong></h5>
    <ul style="color: rgb(143, 143, 138)" class="list-group list-group-flush">
      <li class="list-group-item">可以瀏覽學生資訊</li>
      <li class="list-group-item">可以新增、修改和刪除學生資訊</li>
      <li class="list-group-item">可以註冊、註銷學生課程</li>
      <li class="list-group-item">如果該學生停學，可切換狀態</li>
    </ul>
  </div>
  <div class="card-body">
    <h5><strong>後台額外費用功能</strong></h5>
    <ul style="color: rgb(143, 143, 138)" class="list-group list-group-flush">
      <li class="list-group-item">可以新增費用</li>
      <li class="list-group-item">可以修改費用金額</li>
    </ul>
  </div>
  <div class="card-body">
    <h5><strong>後台使用者功能</strong></h5>
    <ul style="color: rgb(143, 143, 138)" class="list-group list-group-flush">
      <li class="list-group-item">可以切換使用者權限</li>
    </ul>
  </div>
</div>