<br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/cramschool">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/cramschool/courses">課程總表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/teachers">老師總表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/students">學生總表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/meetings">會議記錄</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/courses/attend">課程點名</a>
  </li>
  {{#if isAdmin}}
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/payment">學費計算</a>
  </li>
  {{/if}}
</ul>

<br>

<div class="row">
  {{#each courses}}
  <div class="col-md-4 ">
    <div class="card mt-3">
      <div class="card-header">
        <h5><strong>{{this.name}}</strong></h5>
      </div>
      <div class="card-body" style="color: rgb(28, 36, 49)">
        <h5 class="card-title" style="color: rgb(35, 95, 192)"><strong style="color: rgb(18, 25, 36)">授課老師: </strong>
          {{this.Teacher.name}}</h5>
        <p class="card-text" style="color: rgb(182, 190, 202)"><strong>上課時長: {{this.time}}</strong>分鐘</p>
        <a href="/cramschool/courses/{{this.id}}/calendar" class="btn btn-dark">課程行事曆</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>
