<br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/cramschool">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/courses">課程總表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/teachers">老師總表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/students">學生總表</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/meetings">會議記錄</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/courses/attend">課程點名</a>
  </li>
  {{#if isAdmin}}
  <li class="nav-item">
    <a class="nav-link" href="/cramschool/payment">學費計算</a>
  </li>
  {{/if}}
</ul>

<br>

<div class="container">
  <div class="row justify-content-center ">
    <div class="col-md-6">
      <div class="card mt-3">
        <h4 class="card-header">教師日誌</h4>
        <div class="card-body">
          <h5 class="card-title">標題</h5>
          <p class="card-text">...</p>
            <a href="#" class="btn btn-primary">連結</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mt-3">
        <h4 class="card-header">近期會議記錄</h4>
        <div class="card-body">
          <ul class="list-group list-group-flush">
          {{#each meetings}}
            <li class="list-group-item">
              <h6>開會日期 : {{this.date}}</h6>
              <a href="/cramschool/meetings/{{this.id}}">{{this.subject}}</a>
            </li>
          {{/each}}
          </ul>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="card mt-3">
        <h4 class="card-header">內部訓練相關文件</h4>
        <div class="card-body">
          <p class="card-text">...</p>
          <a href="#" class="btn btn-primary">連結</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mt-3">
        <h4 class="card-header">檔案下載區</h4>
        <div class="card-body">
          <p class="card-text">提供題庫、常用作業格式、內部文件格式 ... 等</p>
          <a href="#" class="btn btn-primary">相關資源</a>
        </div>
      </div>
    </div>
  </div>
</div>