<br>

<h3 style="color: rgb(199, 184, 145);"><strong>建立會議記錄</strong></h4>

<br>

<form action="/cramschool/meetings" method="POST">
  <div class="mb-3">
    <label for="date" class="form-label">開會日期:</label>
    <input type="date" class="form-control" id="date" name="date" required>
  </div>

  <div class="mb-3">
    <label for="recorder" class="form-label">主持人: </label>
    <input type="text" class="form-control" id="recorder" name="recorder" value="{{teacher.name}}" readonly>
  </div>

  <div class="mb-3">
    <label for="subject" class="form-label">主題: </label>
    <input type="text" class="form-control" id="subject" name="subject" placeholder="...輸入開會主題" maxlength="50" required>
  </div>

  <div class="mb-3">
    <label for="content" class="form-label">內容: </label>
    <textarea class="form-control" id="content" rows="3" name="content" placeholder="...輸入內容" required></textarea>
  </div>

  <button type="submit" class="btn btn-primary">送出</button>
</form>
