<br>

<h3 style="color: rgb(92, 79, 79);"><strong>會議日期 : </strong>{{meeting.date}}</h3>

<h5 style="color: rgb(167, 158, 158);"><strong>主持人 : </strong>{{meeting.Teacher.name}}</h5>

<br>

<div class="card">
  <h5 class="card-header">主題 : {{meeting.subject}}</h5>
  <div class="card-body">
    <p class="card-text">{{meeting.content}}</p>
  </div>
</div>

<br />

<br />
<br />
<a href="javascript:history.back()">回上一頁</a>