<form class="form-signin" action="/signin" method="POST" style="width: 100%;">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">登入</h1>
  </div>

  <div class="form-label-group my-1">
    <label for="inputEmail">信箱</label>
    <input type="text" name="email" class="form-control" placeholder="輸入信箱..." required autofocus>
  </div>

  <div class="form-label-group my-1">
    <label for="inputPassword">密碼</label>
    <input type="password" name="password" class="form-control" placeholder="輸入密碼..." required>
  </div>
  <br />

  <button class="btn btn-lg btn-primary btn-block my-1" type="submit">送出</button>
  <div class="text-center mb-4">
    <p><a href="/signup">註冊</a></p>
  </div>
  <p class="mt-5 mb-3 text-muted text-center">© 2021-2022</p>
</form>